<script src="https://kit.fontawesome.com/86bfd4f27e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/searchJob.css">
<div>
    <h1 class="heading">Search - Apply - Get Hired</h1>
    <div class="form-container">
       <form action="/search-job/result" method="get">
           <input type="text" class="input-style" name="job" placeholder="Job title, keyword or company">
            <input type="text" class="input-style" name="location" placeholder="City, state or country">
            <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
       </form>
    </div>
    <div>
        <img src="/pexels-andrea-piacquadio-3760368.jpg"  alt="bg-image" class="bg-image">
    </div>
</div>