.bg-image{
    width: 100%;
    height: 89vh;
    position: absolute;
    content: "";
    z-index: -1;
    opacity: 0.8;
}
.heading{
    position: absolute;
    color: #987878;
    width: 100%;
    text-align: center;
    top: 183px;
}
.form-container{
    position: absolute;
    top: 289px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.btn{
    background-color: rgb(159, 155, 155);
    height: 48px;
    width: 49px;
    border-radius: 11px;
    position: relative;
    top: -3px;
    left: 3px;
}
.fa-magnifying-glass{
    color:white;
}
.input-style{
    border: none; 
    border-radius: 13px;
    height: 45px;
    width: 279px;
    margin: 4px;
    color:rgb(169, 162, 162);
    font-size: 19px;
    padding-left: 10px;
}